/*
Theme Name: Astra Child
Theme URI: https://wpastra.com/
Template: astra
Author: Brainstorm Force
Author URI: https://wpastra.com/about/
Description: Astra is fast, fully customizable &amp; beautiful theme suitable for blog, personal portfolio, business website and WooCommerce storefront. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with Schema.org code integrated so search engines will love your site. It offers special features and templates so it works perfectly with all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin, Divi, etc. Some of the other features: # WooCommerce Ready # Responsive # RTL &amp; Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained &amp; Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and WooCommerce ready theme that you can use for building any kind of website!
Tags: one-column,two-columns,left-sidebar,e-commerce,right-sidebar,custom-colors,custom-menu,editor-style,featured-images,full-width-template,microformats,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready,blog
Version: 1.6.8.1556376634
Updated: 2019-04-27 07:50:34

This is: KellOrvick.com

*/
/* Fonts */
.llms-button-action.auto,
.llms-button-danger.auto,
.llms-button-primary.auto,
.llms-button-secondary.auto {
  font-family: 'Quicksand';
}

/* HEADER */
body #logged_in_menu,
body #logged_out_menu {
  margin-bottom: 0;
}

body #logged_in_menu,
body.logged-in #logged_out_menu {
  display: none;
}

body.logged-in #logged_in_menu {
  display: block;
}

#logo_container .elementor-image>a {
  display: flex;
  align-items: center;
}

#logo_container .elementor-image>a img {
  margin-right: 24px;
}

#logo_container .elementor-image>a h2 {
  text-transform: capitalize;
  color: #40372C;
  font-weight: 500;
}

header#masthead.site-header {
  display: none;
}

.header_courses {
  position: relative;
  padding: 40px 0 36px 0;
}

.header_courses:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.header_courses .container {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
}

.header_courses * {
  color: #fff;
}

.bg_cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_courses h1.entry-title {
  font-size: 2.2222222rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
}

.header_courses p {
  font-size: 1.1111111rem;
  font-weight: 600;
  line-height: 1.5;
}

div[data-elementor-type="header"] .elementor-nav-menu__container li {
  font-size: 0.8888888888888889rem;
}

body .is-enrolled .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-complete {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

div[data-elementor-type="header"] .elementor-widget-image .elementor-image img {
  max-width: 260px;
}

div[data-elementor-type="header"] .elementor-section-wrap {
  background-color: #f0f0f0;
}

#page .special_menu_item {
  font-weight: 600;
  color: #40372c;
  background-color: #f0f0f0;
  border-radius: 145px 145px 145px 145px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #40372c;
  text-transform: none;
  margin-right: 25px;
  position: relative;
  top: -3px;
}

#page .special_menu_item>a {
  font-size: 15px;
  padding: 10px 24px;
}

#page .special_menu_item>a:after {
  display: none;
}

#header_elementor img {
  width: 60px;
  margin: 10px;
}

/* #page div[data-elementor-type="header"] .elementor-section-wrap>section {
  border-color: #5e3122;
}
*/
/* #page .llms-instructor-info .llms-instructors .llms-author,
#page .llms-instructor-info .llms-instructors .llms-author .avatar {
  border-color: #7f452f;
} */
/* Global Class */
a.link_btn_st {
  background-color: #fff;
  border-radius: 50px;
  color: #999;
  display: block;
  display: table;
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 24px 0 24px 0;
  max-width: 300px;
  padding: 10px 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  clear: both;
  border: 1px solid #999;
}

a.button_light_brown {
  display: inline-block;
  background-color: rgb(225, 184, 122);
  border-radius: 51px;
  font-size: 14px;
  padding: 12px 48px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

a.button_light_brown:hover {
  background-color: hsla(36, 55%, 60%, 1);
}

/* General Gutenberg Elements */
#page .wp-block-quote.is-style-large p {
  line-height: 1.4;
  font-size: 20px;
}

#page blockquote.wp-block-quote.is-style-large {
  border-left: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 50px;
}

#page .wp-block-quote.is-style-large cite {
  float: right;
  line-height: 1.4;
}

/* General LifterLMS elements */
body .llms-notification {
  border-top: 4px solid #d79b42;
}

#page .llms-instructor-info .llms-meta-title {
  font-size: 24px;
  margin-bottom: 0;
  font-family: 'Poppins';
  text-align: center;
  font-weight: 600;
}

#page .llms-instructor-info {
  margin-top: 50px;
}

#page .llms-syllabus-wrapper {
  margin-top: 50px;
}

/* Single Course Page */
.course-template-default header.entry-header.ast-no-meta {
  display: none;
}

.course-template-default #page {
  background-color: #fff;
}

/* Course Widgets & SideBar */
.sidebar-main .widget .llms-widget-syllabus .lesson-title {
  width: auto;
  max-width: 85%;
}

.sidebar-main span.lesson-title,
.sidebar-main .widget ul.llms-lesson li a {
  font-size: 14px;
  vertical-align: -webkit-baseline-middle;
}

.sidebar-main a.a2a_dd.addtoany_share_save.addtoany_share {
  display: none;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list {
  display: block;
  line-height: 16px;
  width: 95%;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>a {
  padding: 0;
  width: 25%;
  text-align: center;
  -webkit-transition: -webkit-filter 0.3s ease;
  -o-transition: -o-filter 0.3s ease;
  transition: filter 0.3s ease;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>a:hover {
  -webkit-filter: brightness(120%);
  -o-filter: brightness(120%);
  filter: brightness(120%);
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>a>span {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>a>span svg {
  height: 24px;
  display: inline-block;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>.a2a_button_facebook {
  background-color: #3b5998;
  border-radius: 100px 0 0 100px;
  overflow: hidden;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>.a2a_button_twitter {
  background-color: #55acee;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>.a2a_button_pinterest {
  background-color: #bd081c;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>.a2a_button_linkedin {
  background-color: #007bb5;
  border-radius: 0 100px 100px 0;
  overflow: hidden;
}

.sidebar-main .a2a_kit.a2a_kit_size_32.addtoany_list>a:not(.addtoany_special_service)>span {
  border-radius: 0;
}

.course-template-default #secondary .llms-widget-syllabus .llms-section {
  margin-bottom: 12px;
}

.sidebar-main .llms-widget-syllabus {
  border-bottom: solid 1px #e5e5e5;
}

.course-template-default.ast-right-sidebar .sidebar-main,
.single-lesson .sidebar-main {
  border-left: 1px solid #e5e5e5;
}

.sidebar-main .widget .llms-course-outline ul {
  margin-left: 0;
}

.sidebar-main .llms-course-outline i.fa {
  font-size: 22.5px;
}

.sidebar-main .llms-course-outline span.section-title,
span.lesson-title {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0.4em;
}

.sidebar-main .llms-course-outline span.section-title {
  margin-bottom: 10px;
  color: #5f5f5f;
  font-weight: 500;
}

.sidebar-main .llms-meta-title,
.sidebar-main h2.widget-title {
  font-size: 24px
}

.sidebar-main .llms-meta-title,
.sidebar-main h2.widget-title {
  line-height: 1.2;
  margin-bottom: 15px;
}

.sidebar-main .llms-meta-info p {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 16px;
}

.sidebar-main h2.widget-title {
  /* .wp_sidebar_in_e h2.widget-title { */
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(64, 55, 44);
}

.sidebar-main .widget ul li a {
  /* .wp_sidebar_in_e .widget ul li a { */
  font-size: 16px;
  line-height: 22px;
}

#page .sidebar-main .widget ul li {
  /* .wp_sidebar_in_e .widget ul li { */
  line-height: normal;
  margin-bottom: 15px;
}

.ms_first_block h4 {
  line-height: 1.4;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: rgb(64, 55, 44);
}

.ms_first_block p {
  line-height: 1.5;
}

/* Courses Syllabus in Content*/
.content-area .llms-lesson-preview .llms-extra {
  float: left;
  width: auto;
}

.content-area .llms-lesson-preview .llms-main {
  float: right;
}

body .content-area .llms-syllabus-wrapper .llms-section-title,
body .content-area .llms-lesson-preview * {
  color: #444444;
}

body .content-area .llms-lesson-preview .llms-tooltip-content {
  color: #fff;
}

body .content-area .llms-syllabus-wrapper .llms-section-title {
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  margin-bottom: 5px;
  line-height: 1.2;
}

body .content-area .llms-syllabus-wrapper .llms-lesson-excerpt p {
  font-size: 14px;
  line-height: 1.4;
}

body .content-area .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-link {
  background-color: transparent;
  border-bottom: 1px dashed #ddd;
  padding: 20px 0;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body .content-area .llms-syllabus-wrapper .llms-lesson-preview:first-of-type .llms-lesson-link {
  border-top: 1px dashed #ddd;
}

body .content-area .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-link:hover {
  background-color: #f9faf9;
}

body .llms-syllabus-wrapper .llms-lesson-preview .llms-extra {
  padding-left: 30px;
  position: relative;
}

body .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-counter {
  font-size: 50px;
  padding-left: 0px;
  line-height: 1;
}

body .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-title {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Quicksand';
  line-height: 1.2;
  margin-bottom: 10px;
}

/* Login Screen  */
.login_to_access h3 {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}

#page .login_to_access .elementor-widget-container {
  padding: 10px;
}

body.logged-in #page .login_to_access {
  display: none;
}

body:not(.logged-in).page-id-3839 .elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 800px;
}

.logged-in.page-id-3839 .elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1080px;
}

/* Single Post */
.wp-block-quote.is-style-large p {
  margin-bottom: 0.5em;
}

/* Courses List Page  */
.elementor-shortcode .llms-loop-list .llms-loop-item .llms-loop-item-content {
  height: auto !important;
}

/* Single Lesson Template */
.llms-course-navigation>.llms-course-nav:first-child h6.llms-pre-text {
  font-size: 0.9rem;
}

.single-course .entry-content h4,
.single-lesson .entry-content h4 {
  font-size: 1.33333rem;
  line-height: 1.2;
  color: #462920;
}

.single-course .entry-content p,
.single-lesson .entry-content p {
  line-height: 1.5;
}

.single-lesson .llms-video-wrapper {
  background-color: #2e2f33;
  padding: 20px 0;
  margin-bottom: 0;
}

h6.llms-pre-text {
  font-weight: 500;
  font-size: 1.33333rem;
  color: #000;
  margin-bottom: 0;
}

h5.llms-h5.llms-lesson-title {
  font-weight: 400;
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

#page .llms-lesson-excerpt p, #page .llms-lesson-excerpt {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #757575;
}

#page h6.llms-pre-text, #page h5.llms-h5.llms-lesson-title,
#page .llms-lesson-excerpt p, #page .llms-lesson-excerpt {
  text-align: left;
}

#content {
  background-color: #fff;
}

.single-lesson h1.entry-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #5f5f5f;
}

.single-lesson .llms-parent-course-link {
  font-size: 0.8888888888888889rem
}

.single-lesson #page .sidebar-main .widget ul li {
  margin-bottom: 2.5px;
}

.single-lesson.single .entry-header {
  margin-bottom: 15px;
}

body.single-lesson.ast-separate-container .ast-article-single {
  padding: 0px 20px;
  padding-bottom: 64px;
  padding-left: 0;
}

.single-lesson .llms-course-navigation .llms-back-to-course:first-child h6.llms-pre-text:before {
  position: relative;
  top: -2px;
}

body.single-lesson.ast-separate-container .llms-lesson-preview .llms-lesson-link:hover {
  background-color: hsl(36, 50%, 96%);
}

/* Footer */
body .footer-adv-overlay {
  background-color: #EFEEEE;
}

.footer-adv.footer-adv-layout-4 * {
  color: #434343;
  font-family: 'Quicksand';
}

.footer-adv.footer-adv-layout-4 .widget_nav_menu .menu a,
.footer-adv.footer-adv-layout-4 li {
  font-size: 16px;
  font-weight: 500;
}

.footer-adv.footer-adv-layout-4 li {
  position: relative;
  padding-left: 24px;
  line-height: 1.4;
  margin-bottom: 8px;
}

.footer-adv.footer-adv-layout-4 .widget_nav_menu .menu a,
.footer-adv.footer-adv-layout-4 .widget_text a {
  color: #5c5c5c;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-adv.footer-adv-layout-4 .widget_nav_menu .menu a:before {
  content: '→';
  color: #434343;
  margin-right: 8px;
  margin-bottom: 16px;
  position: absolute;
  left: 0px;
}

.footer-adv.footer-adv-layout-4 h2 {
  text-transform: uppercase;
  color: #3A3A3A;
  font-size: 20px;
  font-weight: bold;
}

.footer-adv.footer-adv-layout-4 .widget_nav_menu .menu a:hover,
.footer-adv.footer-adv-layout-4 .widget_text a:hover {
  color: #222;
}

#page .social_footer_icons>a.social_icon_f {
  color: transparent;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 16px;
  -webkit-transition: brightness 0.3s ease;
  -o-transition: brightness 0.3s ease;
  transition: brightness 0.3s ease;
}

#page .social_footer_icons>a.social_icon_f:hover {
  -webkit-filter: brightness(120%);
  -o-filter: brightness(120%);
  filter: brightness(120%);
}

#page .social_footer_icons>a.social_icon_f:last-child {
  margin-right: 0;
}

.social_icon_f.facebook_i {
  background-image: url(/wp-content/themes/astra-child/assets/facebook.png);
}

.social_icon_f.twitter_i {
  background-image: url(/wp-content/themes/astra-child/assets/twitter.png);
}

.social_icon_f.googlep_i {
  background-image: url(/wp-content/themes/astra-child/assets/google-plus.png);
}

.social_icon_f.youtube_i {
  background-image: url(/wp-content/themes/astra-child/assets/youtube.png);
}

.footer-adv-widget:nth-child(n+2) {
  width: 200px;
  padding: 0;
}

.footer-adv-widget:first-child {
  padding: 0 10px;
  margin-right: 284px;
}

body .ast-small-footer .ast-small-footer-section {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  font-family: 'Quicksand';
}

body .ast-small-footer>.ast-footer-overlay {
  background-color: #efeeee;
  padding-top: 0;
}

body .ast-small-footer .ast-small-footer-section a {
  color: #333;
}

body .ast-small-footer .ast-small-footer-section a:hover {
  color: #a24428;
}

body .ast-footer-overlay:before {
  content: '';
  width: 100%;
  max-width: 1280px;
  left: 50%;
  position: absolute;
  top: -12px;
  transform: translateX(-50%);
  height: 1px;
  background-color: hsla(0, 0%, 36%, 0.8);
}

.footer-adv.footer-adv-layout-4 #custom_html-5 li {
  padding-left: 0;
}

/* Responsive Footer */
@media only screen and (max-width:1365px) {
  .footer-adv-widget:first-child {
    margin-right: 22.1875%;
  }

  .footer-adv-widget:nth-child(n+2) {
    width: 15.625%‬;
    padding: 0;
  }
}

@media only screen and (max-width:1200px) {
  .footer-adv.footer-adv-layout-4 .ast-row {
    display: -webkit-flex;
    display: -ms-flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-adv-widget:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width:1000px) {
  .footer-adv.footer-adv-layout-4 .ast-row>div {
    -webkit-flex-basis: 40%;
    -moz-flex-basis: 40%;
    -ms-flex-basis: 40%;
    -o-flex-basis: 40%;
    flex-basis: 40%;
    margin-bottom: 32px;
  }

  .footer-adv-widget:first-child {
    padding: 0;
  }

  .footer-adv.footer-adv-layout-4 .ast-row:before,
  .footer-adv.footer-adv-layout-4 .ast-row:after {
    display: none;
  }

  .footer-adv.footer-adv-layout-4 .ast-row {
    max-width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width:550px) {
  .footer-adv.footer-adv-layout-4 .ast-row>div {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    -o-flex-basis: 100%;
    flex-basis: 100%;
  }

  .footer-adv.footer-adv-layout-4 .footer-adv-overlay {
    padding-top: 48px;
  }

  .footer-adv.footer-adv-layout-4 .ast-row {
    max-width: calc(95% - 16px);
  }
}

/* Responsive */
@media only screen and (max-width:1480px) {
  #header_elementor .elementor-element.e_third_column {
    width: auto;
    margin: 0 auto;
  }

  /* #header_elementor .elementor-element.e_fourth_column {
    width: 45%;
  } */
}

@media only screen and (max-width:1366px) {
  .footer-adv-widget:nth-child(n+2) {
    width: 220px;
  }

  .footer-adv-widget:first-child {
    margin-right: 224px;
  }
}

@media only screen and (min-width:1024px) and (max-width:1480px) {
  #header_elementor .elementor-element.e_third_column {
    width: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  /* #access_pass_btn {} */
}

/* @media only screen and (min-width:1024px) and (max-width:1700px) {
  #header_elementor .elementor-element.e_fourth_column {
    width: 60%;
  }
} */
@media only screen and (min-width:1024px) and (max-width:1180px) {
  #header_elementor .elementor-element.e_first_column {
    width: 25%;
  }

  /* #header_elementor .elementor-element.e_fourth_column {
    width: 75%;
  } */
}

@media only screen and (min-width:1025px) and (max-width:1200px) {
  #header_elementor .elementor-column.elementor-col-33, #header_elementor .elementor-column[data-col="33"] {
    width: auto;
  }

  #header_elementor .elementor-column.elementor-col-66, #header_elementor .elementor-column[data-col="66"] {
    width: 75%;
  }

  #page div[data-elementor-type="header"] .elementor-nav-menu__container li {
    font-size: 0.80rem;
    margin-right: 0.25em;
  }

  #page div[data-elementor-type="header"] .elementor-nav-menu__container li:first-child {
    margin-right: 1em;
  }

  #page div[data-elementor-type="header"] .elementor-nav-menu__container li:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width:1100px) {
  #logo_container .elementor-image>a h2 {
    font-size: 1rem;
    white-space: nowrap;
  }

  #logo_container .elementor-image>a img {
    margin-right: 16px;
  }
}

@media only screen and (max-width:1024px) {
  #page .footer_element_row .f_bottom_section {
    width: 100%;
    margin: 5px 0;
  }

  #page .special_menu_item {
    display: inline-block;
    margin: 20px 5px;
    background-color: transparent;
  }

  #page .special_menu_item a {
    background-color: transparent;
    color: #40372c;
  }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
  .hide_on_mobile {
    display: none !important;
  }

  #page .footer_element_row .f_menu_section {
    width: 15%;
  }

  #page .footer_element_row .f_menu_section h4 {
    text-align: left;
  }
}

@media only screen and (max-width:1180px) {

  #header_elementor .elementor-element.e_second_column,
  #header_elementor .elementor-element.e_third_column {
    display: none;
  }
}

@media only screen and (min-width:1024px) {

  .course-template-default.ast-right-sidebar #primary,
  .single-lesson.ast-right-sidebar #primary {
    width: 70%;
  }

  .course-template-default.ast-right-sidebar #secondary,
  .single-lesson.ast-right-sidebar #secondary {
    width: 30%;
  }

  .course-template-default #page article {
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .course-template-default.ast-right-sidebar .widget,
  .single-lesson .widget {
    padding: 0 40px;
  }

  .course-template-default.ast-right-sidebar #secondary,
  .single-lesson #secondary {
    padding-left: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1100px) {
  .course-template-default.ast-right-sidebar #primary, .single-lesson.ast-right-sidebar #primary {
    width: 65%;
  }

  .course-template-default.ast-right-sidebar #secondary, .single-lesson.ast-right-sidebar #secondary {
    width: 35%;
  }
}

@media only screen and (max-width:1024px) {
  .sidebar-main .widget.widget_a2a_share_save_widget {
    max-width: 280px;
  }

  .sidebar-main .textwidget {
    max-width: 360px;
  }

  .sidebar-main {
    margin-bottom: 60px;
  }

  .sidebar-main #text-4 img {
    max-width: 300px;
  }

  .ast-separate-container #primary,
  .ast-right-sidebar #secondary {
    width: 100%;
  }

  .ast-right-sidebar #secondary {
    padding-left: 0;
  }

  .course-template-default.ast-right-sidebar .sidebar-main,
  .single-lesson .sidebar-main {
    border-left: none;
  }

  #header_elementor .elementor-element.e_fourth_column {
    width: auto;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
  }

  #header_elementor .elementor-element.elementor-element-160cd18f .elementor-menu-toggle {
    font-size: 40px;
  }

  div[data-elementor-type="header"] .elementor-widget-image .elementor-image img {
    padding-left: 20px;
  }
}

@media only screen and (max-width:1023px) {
  .single-lesson .llms-course-navigation {
    border-bottom: 1px solid #eee;
    padding-bottom: 2em;
  }
}

@media only screen and (min-width: 700px) and (max-width:1024px) {

  .ast-separate-container .ast-article-single,
  .ast-right-sidebar #secondary {
    padding: 0 20px;
  }

  .course-template-default.ast-right-sidebar .sidebar-main,
  .single-lesson .sidebar-main {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  body #page .navigation.post-navigation {
    padding: 0;
  }
}

@media only screen and (max-width:767px) {
  #page .footer_element_row .elementor-container.elementor-column-gap-no>.elementor-row {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }

  .mobile_image_mngt .elementor-image {
    text-align: center !important;
    margin-bottom: 35px;
  }

  #page .f_social_section {
    width: 100%;
    margin-top: 35px;
  }

  .f_bottom_section h4,
  .f_menu_section h4.elementor-heading-title,
  #page .f_social_section h4,
  #page .f_social_section .elementor-widget-social-icons {
    text-align: center;
  }

  body .llms-syllabus-wrapper .llms-lesson-preview .llms-extra {
    padding-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  body .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-counter {
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .single-course p.archive-description {
    padding: 0 16px;
  }

  .wp-block-llms-course-continue-button,
  .wp-block-llms-course-progress,
  .llms-course-progress {
    margin: 32px 0;
  }

  .single-course span.llms-lesson-complete {
    display: none;
  }

  .single-lesson .llms-video-wrapper .center-video iframe {
    height: 40vh;
  }

  .m_force_bg_center {
    background-position: center !important;
  }

  .header_courses h1.entry-title {
    font-size: 3rem;
  }

  .header_courses p {
    font-size: 1.4rem;
  }

  #page .wp-block-quote.is-style-large cite {
    float: none;
  }

  #page .llms-lesson-preview .llms-extra+.llms-main {
    width: 70%;
  }
}

/* END */